@import url('https://fonts.googleapis.com/css2?family=Monsieur+La+Doulaise&family=Pacifico&family=Raleway:ital,wght@0,100..900;1,100..900&family=Tangerine:wght@400;700&display=swap');

.LogoButton{
    background-color: transparent;
    border: 0px;
}

.DisplayNone{
    display: none;
}

.DisplayFlex{
    display: flex;
}

.MobileViewMenuControl{
    display: none;
}

.MainNavBarDiv{
    display: flex;
    height: 70px;
    border-bottom: 2px solid black;
    justify-content: space-evenly;
}

.MainNavBarDiv .Logo{
    font-family: "Monsieur La Doulaise", cursive;
    font-weight: 500;
    font-size: 2vw;
    margin: 0px;
    margin-top: 7px;
    user-select: none;
    cursor: pointer;
}

.SearchDiv{
    margin: 0px;
    padding: 0px;
    display: flex;
}

.SearchDiv .SearchBar{
    margin: 0px;
    height: 35px;
    width: 700px;
    margin-top: 15px;
    padding: 8px;
    color: black;
    font-size: 20px;
    border: 2px solid black;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

.SearchDiv .SearchBar:focus{
    border: 3px solid black;
    border-radius: 0px;
}

.SearchDiv .SearchBtn{
    display: flex;
    margin: 0px;
    height: 35px;
    width: 50px;
    margin-top: 15px;
    justify-content: center;
    align-items: center;
    background-color: black;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.SearchDiv .SearchBtn .SearchLogo{
    margin: 0px;
    height: 22px;
    width: 22px;    
    border-left: 0px;
    filter: invert(1)
}

.SearchDiv .SearchBtn:hover{
    background-color: rgba(144, 144, 144, 0.655);
}

/* .SearchDiv .SearchBtn .SearchLogo:hover{
    margin: 0px;
    height: 22px;
    width: 22px; 
    filter: invert(0)   
} */

.ControlDiv{
    display: flex;
    margin: 0px;
    height: 35px;
    width: 700px;
    margin-top: 15px;
}

.ControlDiv .ControlBtn{
    height: 40px;
    width: 100px;
    font-size: 16px;
    font-weight: 600;
    background-color: white;
    color: black;
    text-decoration: none;
    border: 0px;
    user-select: none;  
    justify-content: center;
    align-items: center;
}

.ControlDiv .ControlBtn:hover{
    border: 2px solid black;
    border-radius: 5px;
}

@media (max-width: 600px) {
    .DisplayNone{
        display: none;
    }
    
    .DisplayFlex{
        display: flex;
    }

    .ControlDiv{
        display: none;
    }
    
    .MobileViewMenuControl{
        display: flex;
    }
    
    .MainNavBarDiv{
        height: 130px;
        display: flex;
        flex-direction: column;
    }

    .LogoMenuDiv .Logo{
        font-size: 8.2vw;
        margin-left: 5vw;
        user-select: none;
    }

    .LogoMenuDiv{
        display: flex;
        margin: 0px;
    }

    .LogoMenuDiv .MobileViewMenuControl{
        margin-top: 15px;
        margin-left: 37vw;
    }

    .LogoMenuDiv .MobileViewMenuControl .contoButton{
        height: 35px;
        width: 35px;
        padding: 0px;
        background-color: white;
        border: 0px;
    }

    .LogoMenuDiv .MobileViewMenuControl .MenuButton{
        height: 35px;
        width: 35px;
        padding: 0px;
        background-color: white;
        border: 0px;
    }

    .LogoMenuDiv .MobileViewMenuControl .MenuButton:focus{
        border: .5px solid black;
        border-radius: 2px;
    }

    .LogoMenuDiv .MobileViewMenuControl .MenuButton .MenuImg{
        height: 30px;
        width: 30px;
        margin: 0px;
    }

    .SearchDiv{
        width: 350px;
        padding: 0px;
        margin-left: 6vw;
    }

    .SearchDiv .SearchBar{
        width: 300px;
    }

    .SearchDiv .SearchBtn{
        width: 50px;
        border: 0px;
        border-top-right-radius: 5px;
        border-bottom-right-radius: 5px;
    }

    .SearchDiv .SearchBtn:hover{
        background-color: black;
    }
    
    .SearchDiv .SearchBtn .SearchLogo:hover{
        margin: 0px;
        height: 22px;
        width: 22px; 
        filter: invert(1)   
    }

    .MobileMenu{
        height: 300px;
        width: 300px;
        padding: 10px;
        margin-left: 10vw;
        flex-direction: column;
        justify-content: space-evenly;
        background-color: black;
        color: white;
        align-items: center;
    }

    .MobileMenu .MenuInsideBtn{
        font-size: 15px;
        color: white;
        background-color: black;
        border: 0px;
    }

    .MobileMenu .MenuInsideBtn:hover:focus{
        color: gray;
    }

}
