.SearchMainDiv{
    height: 200vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@media (max-width: 600px){
    .SearchMainDiv{
        height: 133vh;
        width: 100vw;
        display: flex;
        flex-direction: column;
        /* justify-content: center; */
        /* align-items: center; */
        overflow-y: auto;
    }
}